import styles from './index.less';
import { useState, useEffect } from 'react'
import { getComClassName } from '@/utils';

function {{name}}(props:any) {
const classNames = [styles.{{name}}]

return (
<div className={classNames.join(',')}>

</div>
);
}

export default {{name}};